.mainSection {
    background-image: url('../images/test/adsa\ 1.png');
    background-position: top;
    background-size: 1700px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.info {
    width: 60vw;
    color: #D6D5C9;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-left: 100px;
    margin-top: 30px;
}

.head {
    color: #D6D5C9;
    font-family: Inter;
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.details {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.rate {
    color: #D6D5C9;
    font-family: Inter;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 15px;
    margin-left: 5px;
}

.time {
    color: #D6D5C9;
    font-family: Inter;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 15px;
}

.genre {
    color: #D9D9D9;
    font-family: Inter;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 15px;
    margin-left: 5px;
}

.star {
    width: 20px;
    height: 20px;
    margin: 10px;
    margin-right: 0px;
}

.circle {
    width: 15px;
    height: 15px;
    margin: 10px;
    margin-right: 0px;
}

.poster {
    width: 350px;
    margin-top: 70px;
    margin-bottom: 50px;

}

.director {
    color: #D6D5C9;
    font-family: Inter;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.plot {
    color: #D6D5C9;
    font-family: Inter;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 700px;
}

.book {
    border: 5px solid #FFF;
    background: #A22C29;

    width: 200px;
    height: 50px;
    color: #D6D5C9;
    font-family: Inter;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    align-self: center;
    margin-top: 100px;
    cursor: pointer;
}

.book:hover {
    background: #902823d4;
    border: 4px solid #902823;
}