.mainSection {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.info {
    width: 60vw;
    color: #D6D5C9;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-left: 100px;
    margin-top: 30px;
}

.head01 {
    color: #D6D5C9;
    font-family: Inter;
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.details {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.rate {
    color: #D6D5C9;
    font-family: Inter;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 15px;
    margin-left: 5px;
}

.time {
    color: #D6D5C9;
    font-family: Inter;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 15px;
}

.genre {
    color: #D9D9D9;
    font-family: Inter;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 15px;
    margin-left: 5px;
}

.star {
    width: 20px;
    height: 20px;
    margin: 10px;
    margin-right: 0px;
}

.circle {
    width: 15px;
    height: 15px;
    margin: 10px;
    margin-right: 0px;
}

.poster {
    width: 350px;
    margin-top: 60px;
    margin-bottom: 20px;

}

.director {
    color: #D6D5C9;
    font-family: Inter;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.plot {
    color: #D6D5C9;
    font-family: Inter;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 700px;
}

.buy {
    border: 5px solid #FFF;
    background: #A22C29;

    width: 200px;
    height: 50px;
    color: #D6D5C9;
    font-family: Inter;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    margin-top: 50px;
    cursor: pointer;
}

.buy:hover {
    background: #902823d4;
    border: 4px solid #902823;
}



.bookSection {
    display: flex;
    flex-direction: column;
    justify-content: center;

}


.ticketSection {
    display: flex;
    flex-direction: row;
}

.head02 {
    text-align: center;
    color: #D6D5C9;
    font-family: Inter;
    font-size: 2.7rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 50px;
}

.choose {
    display: flex;
    flex-direction: row;
}

.hours {
    margin-bottom: 100px;
}

.hourBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 70px;
    border: 4px solid #FFF;
    background: #B9BAA3;
    margin-left: 80px;
    cursor: pointer;
}

.hourBox:hover {
    border: 4px solid #A22C29;
}

.number {
    color: #D6D5C9;
    font-family: Inter;
    font-size: 2rem;
    font-style: normal;
    font-weight: 1000;
    line-height: normal;
    margin: 0px;

}

.abriv {
    text-align: center;
    color: #0A100D;
    font-family: Inter;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 5px;
}

.clicked {
    border: 6px solid #902923;
    background: #0A100D;
}

.clickedDate {
    color: #A22C29;

}

.clickedDay {
    color: #D6D5C9;
}

.shownHours {
    display: none;
}

.show {
    display: flex;
}

.hide {
    display: none;
}

.cinema {
    margin: 50px;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.seats {
    margin: 20px;
    display: flex;
    flex-direction: row;
}

.section {
    margin: 5px;
    width: 400px;
}

.defaultSeat {
    width: 50px;
    height: 50px;
    margin: 5px;
    display: flex;

    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 500;

    display: inline-block;
    cursor: pointer;
}

.default {
    background: #363636;

}

.reserved {

    background: #FFF;

}

.selected {

    background: #A22C29;
}

.front {
    width: 900px;
    height: 50px;
    background: transparent;
    border-top: 5px solid #902823;
    border-radius: 1000px / 100px;
}

.guide {
    display: flex;
    flex-direction: row;
}

.guideBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px;

    color: #D6D5C9;
    font-family: Inter;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.guidePic {
    width: 20px;
    height: 20px;
    margin: 10px;
}

.choosenTickets {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.ticketHead {
    color: #D6D5C9;
    font-family: Inter;
    font-size: 2.6rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 100px;
    margin-top: 0px;
    margin-bottom: 50px;
}

.ticketInfo {
    color: #D6D5C9;
    font-family: Inter;
    font-size: 2.6rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 100px;
    margin-top: 0px;
    margin-bottom: 50px;
    align-self: flex-start;

}

.successTitle {
    color: #D6D5C9;
    font-family: Inter;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 50px;
}

.profileTitle {
    color: #D6D5C9;
    font-family: Inter;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 50px;
    text-align: center;
}

.success {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ticketBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 500px;
    height: 50px;
    margin: 100px;
    margin-bottom: 50px;
    margin-top: 0px;
    border: 6px solid #FFF;
    background: #B9BAA3;
}

.ticketText {
    color: #0A100D;
    font-family: Inter;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 20px;
}

.ticketPrice {
    color: #A22C29;
    font-family: Inter;
    font-size: 2.1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 10px;
}

.deleteIcon {
    cursor: pointer;
    width: 50px;
    height: 50px;
    background: #FFF;
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.10);
}

.history {
    display: flex;
    flex-direction: row;
}

.historyCalendar {
    display: flex;
    flex-direction: row;

}

.historyTitle {
    color: #D6D5C9;
    font-family: Inter;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 50px;
    margin-left: 50px;
    align-self: flex-start;
}

.ticketTimes {
    display: flex;
    flex-direction: column;
}

.ticketTime {
    color: #902823;
    font-family: Inter;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 110px;
    margin-bottom: 50px;

}

.historyTicket {
    display: flex;
    flex-direction: column;
}

.historyPoster {
    width: 250px;
    margin: 30px;
    margin-top: 100px;
}

.purchase {
    margin: 30px;
    margin-top: 100px;
    color: #D6D5C9;
    font-family: Inter;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    align-self: center;
    width: 500px;
    height: 50px;
    border: 5px solid #FFF;
    background: #A22C29;
    cursor: pointer;
}




.purchase:hover {
    background: #902823d4;
    border: 4px solid #902823;
}


.userOptions {
    display: flex;
    flex-direction: column;
}

.qoute {
    color: #B9BAA3;
    text-align: center;
    font-family: Inter;
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.profile {
    display: flex;
    flex-direction: column;
}

@media screen and (max-width:1400px) {
    .head {
        font-size: 3.1rem;
    }

    .rate {
        font-size: 1.7rem;
    }

    .time {
        font-size: 1.6rem;
    }

    .genre {
        font-size: 1.2rem;
    }

    .director {
        font-size: 1.7rem;
    }

    .plot {
        font-size: 1.3rem;
        width: 600px;
    }

    .star {
        width: 15px;
        height: 15px;
    }

    .circle {
        width: 10px;
        height: 10px;
    }

    .poster {
        width: 300px;
        margin-bottom: 100px;
    }

    .buy {
        width: 180px;
    }
}

@media screen and (max-width:1240px) {}